@site-name : "site";
@lp-name:	"lp-zerno";
/* Подключение стилей сайта */
@import "@{site-name}/var.less";

@lp-blue: 				#061b4a;
@lp-blue-light: 		#a5bfe0;
//
@lp-yellow:			#fcf06d;
@lp-green:			#7dc5bb;
@lp-green-dark:		#dee8a9;
@lp-yellow-dark:	#e7c564;
//@lp-blue:			#8bcee4;
@white10:			darken(@white, 10%); 	//#e6e6e6
@black-light:		#303030;
@green: 			#36784f;

@phenomena:			'Phenomena-Bold';

h1, h2, h3 {
	font-family: @phenomena;
	color: #6d6866;
}

.include-custom-font(
	@family: @phenomena,
	@src-name: @phenomena,
	@weight: normal,
	@style: normal
	){
	@font-face{
		font-family: "@{family}";
		src:	url('@{url-path-fonts}/@{src-name}.woff2') format('woff2'),
		url('@{url-path-fonts}/@{src-name}.woff') format('woff');
		font-weight: @weight;
		font-style: @style;
	}
}
.include-custom-font(
	@family: @phenomena,
	@src-name: @phenomena,
	@weight: 400,
	@style: normal
	);


	&panel{
		position: relative;
	}
	* {
		padding: 0;
		margin: 0;
	}
	h1 {
		font-size: 4.3em;
	}
	h2 {
		font-size: 3em;

	}
	body{
		background: transparent !important;
	}
	@media (max-width: 1024px) and (min-width: 768px)
	body {
	    padding-top: 40px ;
	}
	@media screen and (min-width:1280px) {


	.is--hover {
    width: 100px;
    margin: 0 auto;
    position: relative;
    top: -100px;
}
}

.element_img_container {

		text-align: center;
}
	.wrestbild__container {
		height: auto;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	}
	.lp-zerno__block-content {
		@media @media-screen{padding-top: 75px;}
	}

	.wrestbild__img__container {
		max-width: 100%;
}
.wrestbild__img__container:first-child{
	max-width: 50%;
	background: #ededed;

}


.wrestbild__item__hover{
		width: 100%;
		position: absolute;
    top: 900px;

}
.logotip__dev__text{
	top:180px;
	position: relative;
	font-family: @phenomena;
}
.logotip__dev__text_alt_variant{
	top:20px;
	position: relative;
	font-family: @phenomena;

}

.is--flex-box-for-text{
	display: flex;
	font-family: @phenomena;

}
.item_text_with_background{
	width: 50%;
	top: -100px;
	position: relative;
	font-family: @phenomena;

}
.alt_variant__container{
	text-align: center;
	position: relative;
	top: 50px;
}
.style_color_first_simbol {
	color: #c0d842;
	margin-left: 50px;
	margin-right: 10px;
}
	.wrestbild__item_scroll_1{
		height: 29px;
		width: 29px;
		background: #00a33c;
		opacity: 0.8;
		border-radius: 50%;
		display: block;

	}

	.wrestbild__item_scroll_2{
		height: 20px;
		width: 20px;
		background: #00a33c;
		opacity: .6;
		z-index: 2;
		border-radius: 50%;
		display: block;
	}
	.wrestbild__item_scroll_3{
		height: 14px;
		width: 14px;
		background: #00a33c;
		opacity: .3;
		border-radius: 50%;
		display: block;
	}
	.is--scroll_circle{
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
		// position: fixed;
		 display: block;
		 margin: 0 auto;
		 margin-top: 10px;
	}
	.is--hover {
		width: 100px;
		margin: 0 auto;
	}

	.is--hover:hover span.is--scroll_circle
	{
		-moz-transform: translateY(25px);
		-webkit-transform: translateY(25px);
		-o-transform: translateY(25px);
		-ms-transform: translateY(25px);
		transform: translateY(25px);
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	 }
	 .lp-zerno__bg {
		 background-image: url('@{url-path-img}/lp-zerno/Side__content__wrestbild.png');
		 background-attachment: fixed;
		 background-repeat: no-repeat;
		 background-size: cover;
		 background-position: 50% 50%;
		 height: 1300px;
	 }
	 .wrestbild__flex__img__container{
		 max-width: 100%;
		 height: 550px;
		 display: -webkit-flex;
		 display: -ms-flex;
		 display: flex;
		 justify-content: center;
		 align-items: center;
		 flex-wrap: wrap;
	 }
	.is--footer {
		margin:	20px;
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
	}
		.wrestbild__img_opacity_item{
			margin-left: 20px;
		}
	.wrestbild__img_opacity_item:hover {
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
		-webkit-transition: all 0.6s ease-in-out;
		-moz-transition: all 0.6s ease-in-out;
		-ms-transition: all 0.6s ease-in-out;
		-o-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	}
