@site-name : "site";
@lp-name:	"lp-zerno";
/* Подключение стилей сайта */
@import "@{site-name}/var.less";

@lp-blue: 				#061b4a;
@lp-blue-light: 		#a5bfe0;
//
@lp-yellow:			#fcf06d;
@lp-green:			#7dc5bb;
@lp-green-dark:		#dee8a9;
@lp-yellow-dark:	#e7c564;
//@lp-blue:			#8bcee4;
@white10:			darken(@white, 10%); 	//#e6e6e6
@black-light:		#303030;
@green: 			#36784f;




.include-custom-font(
	@family: 'Phenomena-Bold',
	@src-name: 'Phenomena-Bold',
	@weight: normal,
	@style: normal
	){
	@font-face{
		font-family: "@{family}";
		src:	url('@{url-path-fonts}/@{src-name}.woff2') format('woff2'),
		url('@{url-path-fonts}/@{src-name}.woff') format('woff');
		font-weight: @weight;
		font-style: @style;
	}
}
.include-custom-font(
	@family: 'Phenomena-Bold',
	@src-name: 'Phenomena-Bold',
	@weight: 400,
	@style: normal
	);



	@media screen and (max-width:1280px){
		*{
			padding: 0;
			margin: 0;
		}
	  h1, h2, h3 {
	    font-size: 1em;
	  }
	  .wrestbild__item__hover  .is--hover{
	    display: none;
	  }
		.wrestbild__container {
	    height: auto;
	    display: -ms-flex;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    flex-wrap: nowrap;
	}
	.wrestbild__img__container:first-child {
	    max-width: 100%;
	    background: #ededed;
	}
	.element_img_container {
	    /* height: 0; */
	    position: relative;
	    top: 0;
	    background: #fdfdfd;
			height: initial;
	}
	.item_text_with_background {
	    width: 100%;
	    height: 100%;
	    display: block;
	    position: relative;
	    font-family: Phenomena-Bold;
	    padding: 0;
			position: relative;
			top: -70px;

	}
	.flex_logotips {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		text-align: center;
	    background: #fdfdfd;
			    margin-top: 100px;
	}
	.mobile_img{
		display: none;
	}
	.desktop_bg {
		display: none;
	}
	.wrestbild__side_content {
		position: relative;
		background: url('@{url-path-img}/lp-zerno/Side__content__wrestbild.png');
		background-attachment: fixed;
		height: 900px;
		background-size: cover;
	}
	.background_text{
		position: relative;
		top:50px;
	}




	.wrestbild__flex__img {
	    max-width: 100%;
	    display: flex;
	    position: relative;
	    flex-wrap: wrap;
	    text-align: center;
	    justify-content: center;
	    height: auto;
	    margin-bottom: 90px;
	    margin-top: 100px;
	}
	.wrestbild__img_opacity_item {
	    margin: 0 auto;
	    max-width: 93%;
	}
	.background_text{
		display: none;
	}
	.background_text_desktop{
		display: block;
	}
	.logotip__dev__text_alt_variant {
	    display: block;
	    position: relative;
	    top: initial;
	    font-size: 4.1em;
	    font-family: Phenomena-Bold;
	    letter-spacing: 2px;
	    line-height: 30px;
			height: 0;
			margin-bottom: 90px;
	}
	.logotip__dev__text {
	    top: 21px;
	    position: relative;
	    font-size: 4.3em;
	    font-family: Phenomena-Bold;
	}
	.item_text_with_background h2.background_text_desktop {
    font-size: 2.3em!important;
    line-height: 42px;
}





	}

	@media screen and (max-width:1024px){
		*{
			padding: 0;
			margin: 0;
		}
	  h1, h2, h3 {
	    font-size: 1em;
	  }
	  .wrestbild__item__hover  .is--hover{
	    display: none;
	  }
		.wrestbild__container {
	    height: auto;
	    display: -ms-flex;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    flex-wrap: nowrap;
	}
	.wrestbild__img__container:first-child {
	    max-width: 100%;
	    background: #ededed;
	}
	.element_img_container {
	    /* height: 0; */
	    position: relative;
	    top: 0;
	    background: #fdfdfd;
			height: initial;
	}
	.item_text_with_background {
		display: block;
	    width: 100%;
	    height: 100%;
	    display: block;
	    position: relative;
	    top: initial;
	    font-family: Phenomena-Bold;
	    padding: 0;

	}
	.flex_logotips {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		text-align: center;
	    background: #fdfdfd;
	}
	.desktop_bg {
		display: none;
	}
	.background_text{
		position: relative;
		top:50px;
	}

	.mobile_img{
		display: block;
	}




	.wrestbild__flex__img {
	    max-width: 100%;
	    display: block;
	    position: relative;
	    text-align: center;
			height: auto;
			margin-bottom: 90px;
			padding: 0;
			margin-top: 0;
	}
	.wrestbild__img_opacity_item {
	    margin: 0 auto;
	    max-width: 93%;
	}
	.background_text{
		display: none;
	}
	.background_text_desktop{
		display: block;
	}
	.logotip__dev__text_alt_variant {
	    display: block;
	    position: relative;
	    top: -30px;
	    font-size: 4.1em;
	    font-family: Phenomena-Bold;
	    letter-spacing: 2px;
	    line-height: 50px;
	    height: 0;
	    margin-bottom: 90px;
	}
	.side_content {
	    position: relative;
	    background: url('@{url-path-img}/lp-zerno/Side__content__wrestbild.png');
	    background-attachment: fixed;
	    height: 900px;
	    background-size: cover;
	    display: none;
	}
	.logotip__dev__text {
	    top: 21px;
	    position: relative;
	    font-size: 4.3em;
	    font-family: Phenomena-Bold;
	}
	.item_text_with_background h2.background_text_desktop {
    font-size: 2.3em!important;
    line-height: 42px;
}





	}




	@media screen and (max-width:768px){
		*{
			padding: 0;
			margin: 0;
		}
	  h1, h2, h3 {
	    font-size: 1em;
	  }
		.background_text_desktop{
			display: none;
		}
	  .wrestbild__item__hover  .is--hover{
	    display: none;
	  }
		.wrestbild__container {
	    height: auto;
	    display: -ms-flex;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    flex-wrap: wrap;
	}
	.wrestbild__img__container:first-child {
	    max-width: 100%;
	    background: #ededed;
	}
	.element_img_container {
	    /* height: 0; */
	    position: relative;
	    top: 0;
	    background: #fdfdfd;
			height: initial;
	}
	.item_text_with_background {
		display: block;
	    width: 100%;
	    height: 100%;
	    display: block;
	    position: relative;
	    top: initial;
	    font-family: Phenomena-Bold;
	    padding: 0;

	}
	.background_text{
		display: block;
	}
	.mobile_img{
		display: block;
	}
	.flex_logotips {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0;
		text-align: center;
	    background: #fdfdfd;
			margin-top: 0;
	}
	.desktop_bg {
		display: none;
	}
	.item_text_with_background h2.background_text {
    font-size: 2.4em;
    line-height: 42px;
    position: relative;
    top: 23px;
    left: -23px;
    color: #6d6866;
}



	.wrestbild__flex__img {
	    max-width: 100%;
	    display: block;
	    position: relative;
	    text-align: center;
			height: auto;
			margin-bottom: 30px;
	}
	.wrestbild__img_opacity_item {
	    margin: 0 auto;
	    max-width: 93%;
	}
	.logotip__dev__text_alt_variant {
	    display: block;
	    position: relative;
	    top: initial;
	    font-size: 2.8em;
	    font-family: Phenomena-Bold;
	    letter-spacing: 2px;
	    line-height: 30px;
			height: 0;
			margin-bottom: 90px;
	}
	.logotip__dev__text {
	    top: 21px;
	    position: relative;
	    font-size: 2.8em;
	    font-family: Phenomena-Bold;
	}

	.side_content{
		display: none;
	}


	}


@media screen and (max-width:320px){
	*{
		padding: 0;
		margin: 0;
	}
  h1, h2, h3 {
    font-size: 1em;
  }
  .wrestbild__item__hover  .is--hover{
    display: none;
  }
	.wrestbild__container {
    height: auto;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.wrestbild__img__container:first-child {
    max-width: 100%;
    background: #ededed;
}
.element_img_container {
    /* height: 0; */
    position: relative;
    top: 0;
    background: #fdfdfd;
		height: initial;
}
.item_text_with_background {
	display: block;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    top: initial;
    font-family: Phenomena-Bold;
    padding: 0;

}
.flex_logotips {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	text-align: center;
    background: #fdfdfd;
}
.desktop_bg {
	display: none;
}
.background_text{
	position: relative;
	top:50px;
}
.mobile_img{
	display: block;
}




.wrestbild__flex__img {
    max-width: 100%;
    display: block;
    position: relative;
    text-align: center;
		height: auto;
		margin-bottom: 30px;
}
.wrestbild__img_opacity_item {
    margin: 0 auto;
    max-width: 93%;
    margin-left: 10px;
}
.logotip__dev__text_alt_variant {
    display: block;
    position: relative;
    top: initial;
    font-size: 2.1em;
    font-family: Phenomena-Bold;
    letter-spacing: 2px;
    line-height: 30px;
		height: 0;
		top: 20px;
}
.logotip__dev__text {
    top: 9px;
    position: relative;
    font-size: 2.8em;
    font-family: Phenomena-Bold;
}
}
