@site-name : "site";
@lp-name:	"lp-zerno";
/* Подключение стилей сайта */
@import "@{site-name}/var.less";

@lp-blue: 				#061b4a;
@lp-blue-light: 		#a5bfe0;
//
@lp-yellow:			#fcf06d;
@lp-green:			#7dc5bb;
@lp-green-dark:		#dee8a9;
@lp-yellow-dark:	#e7c564;
//@lp-blue:			#8bcee4;
@white10:			darken(@white, 10%); 	//#e6e6e6
@black-light:		#303030;
@green: 			#36784f;

@phenomena:			'Phenomena-Bold';

h1, h2, h3 {
	font-family: @phenomena;
	color: #6d6866;
}

.include-custom-font(
	@family: @phenomena,
	@src-name: @phenomena,
	@weight: normal,
	@style: normal
	){
	@font-face{
		font-family: "@{family}";
		src:	url('@{url-path-fonts}/@{src-name}.woff2') format('woff2'),
		url('@{url-path-fonts}/@{src-name}.woff') format('woff');
		font-weight: @weight;
		font-style: @style;
	}
}
.include-custom-font(
	@family: @phenomena,
	@src-name: @phenomena,
	@weight: 400,
	@style: normal
	);


	@media screen and (max-width:1440px){
		h1, h2, h3 {
			font-family: @phenomena;
			color: #6d6866;

		}
		h2 {
    font-family: Phenomena-Bold;
    color: #6d6866;
    font-size: 3em;
}
		.wrestbild__item__hover {
		    width: 100%;
		    position: absolute;
		    top: 710px;
		}

		.element_img_container {
				position: relative;
				height: 275px;
				background: 0 0;
				top: -70px;
		}
		.logotip__dev__text {
				top: 145px;
				position: relative;
				font-size: 4.2em;
				font-family: Phenomena-Bold;
		}
	.style_color_first_simbol {
			color: #c0d842;
			margin-left: 10px;
			margin-right: 5px;
	}
	.item_text_with_background {
    width: 50%;
    top: 150px;
    height: 120px;
    position: relative;
    font-family: Phenomena-Bold;
    padding-left: 7px;
}

		.lp-zerno__bg {
	    background: url(/img/lp-zerno/Side__content__wrestbild.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: 50% 50%;
	    height: 800;
	    margin-top: 290px;
	    position: relative;
	    top: 224px;
}
	.logotip__dev__text_alt_variant {
		top: -40px;
		position: relative;
		font-family: Phenomena-Bold;
		font-size: 4.4em;
	}
	.wrestbild__flex__img__container {
		position: relative;
		top: -90px;
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

	}


	.alt_variant__container {
	    text-align: center;
	    position: relative;
	    top: 0px;
	}
	.wrestbild__img_opacity_item {
		max-width: 48%;
		margin: 5px

	}


		.wrestbild__img_opacity_item:hover {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
	}




	}

	@media screen and (max-width:1280px){
		h1, h2, h3 {
			font-family: @phenomena;
			color: #6d6866;
			font-size: 3em;
		}
		.wrestbild__item__hover {
		    width: 100%;
		    position: absolute;
		    top: 585px;
		}

		.element_img_container {
				position: relative;
				height: 275px;
				background: 0 0;
				top: -70px;
		}
		.logotip__dev__text {
				top: 145px;
				position: relative;
				font-size: 4.2em;
				font-family: Phenomena-Bold;
		}
	.style_color_first_simbol {
			color: #c0d842;
			margin-left: 10px;
			margin-right: 5px;
	}
	.item_text_with_background {
    width: 50%;
    top: 110px;
    height: 120px;
    position: relative;
    font-family: Phenomena-Bold;
    padding-left: 7px;
}

		.lp-zerno__bg {
	    background: url(/img/lp-zerno/Side__content__wrestbild.png);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: 50% 50%;
	    height: 800;
	    margin-top: 290px;
	    position: relative;
	    top: 224px;
}
	.logotip__dev__text_alt_variant {
		top: -40px;
		position: relative;
		font-family: Phenomena-Bold;
		font-size: 4.4em;
	}
	.wrestbild__flex__img__container {
		position: relative;
		top: -90px;
		display: -ms-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;

	}


	.alt_variant__container {
	    text-align: center;
	    position: relative;
	    top: 0px;
	}
	.wrestbild__img_opacity_item {
		max-width: 48%;
		margin: 5px

	}


		.wrestbild__img_opacity_item:hover {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
	}




	}
	@media screen and (max-width:1160px) {
		.wrestbild__item__hover {
				width: 100%;
				position: absolute;
				top: 510px;
		}
	}

	@media screen and (max-width:1024px){
		h1, h2, h3 {
			font-family: @phenomena;
			color: #6d6866;
			font-size: 1em;
		}
		.wrestbild__item__hover  .is--hover{
			display: none;
		}
		.element_img_container {
				position: relative;
				height: 275px;
				background: 0 0;
				top: -70px;
		}
		.logotip__dev__text {
			 top: 100px;
			 position: relative;
			 font-size: 3.2em;
			 font-family: Phenomena-Bold;
		}
	.style_color_first_simbol {
			color: #c0d842;
			margin-left: 10px;
			margin-right: 5px;
	}
	.item_text_with_background {
			width: 50%;
			top: 425px;
			height: 120px;
			position: relative;
			font-family: @phenomena;
			padding-left: 7px;
				h2.background_text {
					font-size: 3.7em!important;
			line-height: 42px;

				}

		}
		.lp-zerno__bg {
			background: url('/img/lp-zerno/Side__content__wrestbild.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 50%;
			height:1750px;
	}
	.logotip__dev__text_alt_variant {
		top: -40px;
		position: relative;
		font-family: Phenomena-Bold;
		font-size: 4.4em;
	}
	.wrestbild__flex__img__container {
		max-width: 100%;
    height: 426px;
    position: relative;
    top: -445px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

	}


	.alt_variant__container {
		text-align: center;
		position: relative;
		top: -480px;
	}
	.wrestbild__img_opacity_item {
		margin: 10px;
		width: 95%;

	}


		.wrestbild__img_opacity_item:hover {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
	}




	}




	@media screen and (max-width:768px){
		h1, h2, h3 {
			font-family: @phenomena;
			color: #6d6866;
			font-size: 1em;
		}
		.wrestbild__item__hover  .is--hover{
			display: none;
		}
		.element_img_container {
				position: relative;
				height: 275px;
				background: 0 0;
				top: -70px;
		}
		.logotip__dev__text {
			top: 95px;
			position: relative;
			font-size: 2.7em;
			font-family:@phenomena;
	}

	.style_color_first_simbol {
			color: #c0d842;
			margin-left: 10px;
			margin-right: 5px;
	}
	.item_text_with_background {
			width: 50%;
			top: 125px;
			height: 120px;
			position: relative;
			font-family: @phenomena;
			padding-left: 7px;
				h2.background_text {
					font-size: 2.7em!important;
    	line-height: 32px;

				}

		}
		.lp-zerno__bg {
			background: url(/img/lp-zerno/Side__content__wrestbild.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 50%;
			height: 900px;
			position: relative;
			top: -218px;
	}
	.logotip__dev__text_alt_variant {
		top: -40px;
		position: relative;
		font-family: Phenomena-Bold;
		font-size: 3.4em;
	}
	.wrestbild__flex__img__container {
    max-width: 100%;
    height: 380px;
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    top: -290px;
}


	.alt_variant__container {
    text-align: center;
    position: relative;
    top: -300px;
}
	.wrestbild__img_opacity_item {
		margin: 10px;
		    max-width: 95%;

	}
		.wrestbild__img_opacity_item:hover {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);




	}

	}
	@media screen and (max-width:614px){
.logotip__dev__text {
    top: 85px;
    position: relative;
    font-size: 2.2em;
    font-family: Phenomena-Bold;
}
}
	@media screen and (max-width: 468px){
.logotip__dev__text {
    top: 70px;
    position: relative;
    font-size: 2.2em;
    font-family: Phenomena-Bold;
}
}

	@media screen and (max-width:414px){
		h1, h2, h3 {
			font-family: @phenomena;
			color: #6d6866;
			font-size: 1em;
		}
		.wrestbild__item__hover  .is--hover{
			display: none;
		}
		.element_img_container {
				position: relative;
				height: 275px;
				background: 0 0;
				top: -70px;
		}
		.logotip__dev__text {
			top: 70px;
			position: relative;
			font-size: 1.8em;
			font-family:@phenomena;
	}

	.style_color_first_simbol {
			color: #c0d842;
			margin-left: 10px;
			margin-right: 5px;
	}
	.item_text_with_background {
			width: 50%;
			top: 5px;
			position: relative;
			font-family: @phenomena;
			padding-left: 7px;
				h2.background_text {
					font-size: 1.2em !important;
					line-height: 18px;

				}

		}
		.lp-zerno__bg {
			background:url('/img/lp-zerno/Side__content__wrestbild.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 50% 50%;
			height: 325px;
	}
	.logotip__dev__text_alt_variant {
			top: -30px;
			position: relative;
			font-family: Phenomena-Bold;
			font-size: 2.1em;
	}
	.wrestbild__flex__img__container {
			max-width: 100%;
			height: 330px;
			display: -ms-flex;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-direction: column;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin-top: 50px;

	}
	.wrestbild__img_opacity_item {
		margin: 0;
	}
	.wrestbild__img_opacity_item {
		.wrestbild__img_opacity_item:hover {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
	}




	}

	}
	@media screen and (max-width:375px){
	  h1, h2, h3 {
	  	font-family: @phenomena;
	  	color: #6d6866;
	    font-size: 1em;
	  }
	  .wrestbild__item__hover  .is--hover{
	    display: none;
	  }
	  .element_img_container {
	      position: relative;
	      height: 275px;
	      background: 0 0;
	      top: -70px;
	  }
	  .logotip__dev__text {
	    top: 65px;
	    position: relative;
	    font-size: 1.8em;
	    font-family:@phenomena;
	}

	.style_color_first_simbol {
	    color: #c0d842;
	    margin-left: 10px;
	    margin-right: 5px;
	}
	.item_text_with_background {
	    width: 50%;
	    top: -20px;
	    position: relative;
	    font-family: @phenomena;
	    padding-left: 7px;
	      h2.background_text {
	        font-size: 1.2em !important;
	        line-height: 18px;

	      }

	  }
	  .lp-zerno__bg {
	    background:url('/img/lp-zerno/Side__content__wrestbild.png');
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position: 50% 50%;
	    height: 255px;
	}
	.logotip__dev__text_alt_variant {
	    top: -30px;
	    position: relative;
	    font-family: Phenomena-Bold;
	    font-size: 2.1em;
	}
	.wrestbild__flex__img__container {
	    max-width: 100%;
	    height: 330px;
	    display: -ms-flex;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    flex-direction: column;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-top: 50px;

	}
	.wrestbild__img_opacity_item {
	  margin: 0;
	}
	.wrestbild__img_opacity_item {
	  .wrestbild__img_opacity_item:hover {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			-o-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
	}




	}

	}

@media screen and (max-width:360px){
  h1, h2, h3 {
  	font-family: @phenomena;
  	color: #6d6866;
    font-size: 1em;
  }
  .wrestbild__item__hover  .is--hover{
    display: none;
  }
  .element_img_container {
      position: relative;
      height: 275px;
      background: 0 0;
      top: -70px;
  }
  .logotip__dev__text {
    top: 59px;
    position: relative;
    font-size: 1.8em;
    font-family:@phenomena;
}

.style_color_first_simbol {
    color: #c0d842;
    margin-left: 10px;
    margin-right: 5px;
}
.item_text_with_background {
    width: 50%;
    top: -35px;
    position: relative;
    font-family: @phenomena;
    padding-left: 7px;
      h2.background_text {
				font-size: 1.4em!important;
    		line-height: 18px;

      }

  }
  .lp-zerno__bg {
    background:url('/img/lp-zerno/Side__content__wrestbild.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    height: 215px;
}
.logotip__dev__text_alt_variant {
		top: 285px;
		position: relative;
		font-family: Phenomena-Bold;
		font-size: 2.1em;
}
.wrestbild__flex__img__container {
	max-width: 100%;
	height: 285px;
	display: -ms-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 50px;
	position: relative;
	top: -70px;

}
.wrestbild__img_opacity_item {
  margin: 0;
}


}

@media screen and (max-width:320px){
  h1, h2, h3 {
  	font-family: @phenomena;
  	color: #6d6866;
    font-size: 1em;
  }
  .wrestbild__item__hover  .is--hover{
    display: none;
  }
  .element_img_container {
      position: relative;
      height: 275px;
      background: 0 0;
      top: -70px;
  }
  .logotip__dev__text {
    top: 47px;
    position: relative;
    font-size: 1.8em;
    font-family:@phenomena;
}

.style_color_first_simbol {
    color: #c0d842;
    margin-left: 10px;
    margin-right: 5px;
}
.item_text_with_background {
    width: 50%;
    top: -65px;
    position: relative;
    font-family: @phenomena;
    padding-left: 7px;
      h2.background_text {
        font-size: 1.6em !important;
        line-height: 18px;

      }

  }
  .lp-zerno__bg {
		background: url(/img/lp-zerno/Side__content__wrestbild.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		/* height: 0; */
		top: -285px;
}
.logotip__dev__text_alt_variant {
    top: 15px;
    position: relative;
    font-family: Phenomena-Bold;
    font-size: 2.1em;
}
.wrestbild__flex__img__container {
    max-width: 100%;
    height: 0px;
    display: block;
		position: relative;
		top: -315px;

}
.wrestbild__img_opacity_item {
  margin: 0;
	max-width: 100%;
}
  .wrestbild__img_opacity_item:hover {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
}




}
