.include-custom-font(@family: @proxima, @weight: normal, @style: normal){
	@font-face{			
		font-family: "@{family}";			
		src:url('@{url-path-fonts}/@{family}.woff') format('woff');
		font-weight: @weight;
		font-style: @style;		
	}
}
/*proxima*/
.include-custom-font(@family: @proxima, 		@weight: normal, @style: normal);
.include-custom-font(@family: @proxima-light, 	@weight: normal, @style: normal);
.include-custom-font(@family: @proxima-bold, 	@weight: normal, @style: normal);
.include-custom-font(@family: @proxima-ebold, 	@weight: normal, @style: normal);
.include-custom-font(@family: @proxima-sbold, 	@weight: normal, @style: normal);
.include-custom-font(@family: @proxima-ital, 	@weight: normal, @style: normal);
/*end's proxima*/
/*bender*/
.include-custom-font(@family: @bender, 		@weight: normal, @style: normal);
/*end's bender*/
.include-custom-font(@family: @icon, 			@weight: normal, @style: normal);

@icon-bottom: 		"\f100";
@icon-left: 		"\f101";
@icon-right: 		"\f102";
@icon-top: 			"\f103";
@icon-be: 			"\f104";
@icon-calendar: 	"\f105";
@icon-down: 		"\f106";
@icon-drb: 			"\f107";
@icon-fb: 			"\f108";
@icon-igm: 			"\f109";
@icon-label: 		"\f10a";
@icon-mailto: 		"\f10b";
@icon-map: 			"\f10c";
@icon-phone: 		"\f10d";
@icon-search: 		"\f10e";
@icon-tel: 			"\f10f";
@icon-tw: 			"\f110";
@icon-up: 			"\f111";
@icon-user: 		"\f112";
@icon-view: 		"\f113";
@icon-vk: 			"\f114";
@icon-close: 		"\f115";
@icon-ruble: 		"\f116";
@icon-comment: 		"\f117";
@icon-mouse: 		"\f118";
@icon-mouse-down: 	"\f119";