.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-close {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.icon-eqt1 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt2 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt3 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt4 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt5 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt6 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt7 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt8 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-form-comment {
	font-size:(454.8/10)*1rem;
	width:(454.8/454.8)*1em;
}
.icon-form-file {
	font-size:(511.999/10)*1rem;
	width:(511.999/511.999)*1em;
}
.icon-form-name {
	font-size:(482.9/10)*1rem;
	width:(482.9/482.9)*1em;
}
.icon-form-tel {
	font-size:(473.806/10)*1rem;
	width:(473.806/473.806)*1em;
}
.icon-icon-link {
	font-size:(410/10)*1rem;
	width:(493/410)*1em;
}
.icon-lp-aegospotami-arrow-left {
	font-size:(511/10)*1rem;
	width:(434/511)*1em;
}
.icon-lp-aegospotami-arrow-right {
	font-size:(510.2/10)*1rem;
	width:(510.2/510.2)*1em;
}
.icon-lp-albina-navi-filter {
	font-size:(480.3/10)*1rem;
	width:(480.3/480.3)*1em;
}
.icon-lp-albina-navi-pricelist {
	font-size:(463.552/10)*1rem;
	width:(463.552/463.552)*1em;
}
.icon-lp-albina-navi-reviews {
	font-size:(477.6/10)*1rem;
	width:(477.6/477.6)*1em;
}
.icon-lp-dixion-logotip {
	font-size:(117.9/10)*1rem;
	width:(413.5/117.9)*1em;
}
.icon-lp-enerfit-arrow-left {
	font-size:(31.5/10)*1rem;
	width:(31.5/31.5)*1em;
}
.icon-lp-enerfit-arrow-right {
	font-size:(31.49/10)*1rem;
	width:(31.49/31.49)*1em;
}
.icon-lp-hlebzavod-arrow {
	font-size:(43.1/10)*1rem;
	width:(210.7/43.1)*1em;
}
.icon-lp-hlebzavod-like {
	font-size:(51.997/10)*1rem;
	width:(51.997/51.997)*1em;
}
.icon-lp-hlebzavod-plus {
	font-size:(459.325/10)*1rem;
	width:(459.325/459.325)*1em;
}
.icon-lp-hlebzavod-sun {
	font-size:(512.001/10)*1rem;
	width:(512.001/512.001)*1em;
}
.icon-lp-hlebzavod-wheat {
	font-size:(218.1/10)*1rem;
	width:(218.1/218.1)*1em;
}
.icon-lp-orionprint-slider-left {
	font-size:(452/10)*1rem;
	width:(258/452)*1em;
}
.icon-lp-orionprint-slider-right {
	font-size:(452/10)*1rem;
	width:(258/452)*1em;
}
.icon-lp-pizza-slider-left {
	font-size:(319/10)*1rem;
	width:(500/319)*1em;
}
.icon-lp-pizza-slider-right {
	font-size:(319/10)*1rem;
	width:(500/319)*1em;
}
.icon-lp-zenit-arrow-bottom {
	font-size:(11.8/10)*1rem;
	width:(12.2/11.8)*1em;
}
.icon-lp-zenit-arrow-left {
	font-size:(12.1/10)*1rem;
	width:(12.6/12.1)*1em;
}
.icon-lp-zenit-arrow-right {
	font-size:(12.1/10)*1rem;
	width:(12.6/12.1)*1em;
}
.icon-mouse {
	font-size:(68.1/10)*1rem;
	width:(68.1/68.1)*1em;
}
.icon-msk76-arrow-right {
	font-size:(309.143/10)*1rem;
	width:(309.143/309.143)*1em;
}
.icon-news-view {
	font-size:(512.13/10)*1rem;
	width:(512.13/512.13)*1em;
}
.icon-orelstroy-adv-item1 {
	font-size:(512.001/10)*1rem;
	width:(512.001/512.001)*1em;
}
.icon-orelstroy-adv-item2 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-orelstroy-adv-item3 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-orelstroy-adv-item4 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-orelstroy-adv-item5 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-play {
	font-size:(75/10)*1rem;
	width:(75/75)*1em;
}
.icon-search {
	font-size:(413.12/10)*1rem;
	width:(413.12/413.12)*1em;
}
.icon-zenit-filter-all {
	font-size:(375.795/10)*1rem;
	width:(375.795/375.795)*1em;
}
.icon-zenit-filter-build {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-zenit-filter-buy {
	font-size:(105.6/10)*1rem;
	width:(106.9/105.6)*1em;
}
.icon-zenit-filter-ready {
	font-size:(41.4/10)*1rem;
	width:(41.3/41.4)*1em;
}
