.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-close {
	font-size:(64/10)*1rem;
	width:(64/64)*1em;
}
.icon-eqt1 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt2 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt3 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt4 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt5 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt6 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt7 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-eqt8 {
	font-size:(125/10)*1rem;
	width:(125/125)*1em;
}
.icon-lp-enerfit-arrow-left {
	font-size:(31.5/10)*1rem;
	width:(31.5/31.5)*1em;
}
.icon-lp-enerfit-arrow-right {
	font-size:(31.49/10)*1rem;
	width:(31.49/31.49)*1em;
}
.icon-lp-zenit-arrow-bottom {
	font-size:(11.8/10)*1rem;
	width:(12.2/11.8)*1em;
}
.icon-lp-zenit-arrow-left {
	font-size:(12.1/10)*1rem;
	width:(12.6/12.1)*1em;
}
.icon-lp-zenit-arrow-right {
	font-size:(12.1/10)*1rem;
	width:(12.6/12.1)*1em;
}
.icon-mouse {
	font-size:(68.1/10)*1rem;
	width:(68.1/68.1)*1em;
}
.icon-msk76-arrow-right {
	font-size:(309.143/10)*1rem;
	width:(309.143/309.143)*1em;
}
.icon-news-view {
	font-size:(512.13/10)*1rem;
	width:(512.13/512.13)*1em;
}
.icon-play {
	font-size:(75/10)*1rem;
	width:(75/75)*1em;
}
.icon-search {
	font-size:(413.12/10)*1rem;
	width:(413.12/413.12)*1em;
}
.icon-zenit-filter-all {
	font-size:(375.795/10)*1rem;
	width:(375.795/375.795)*1em;
}
.icon-zenit-filter-build {
	font-size:(40/10)*1rem;
	width:(40/40)*1em;
}
.icon-zenit-filter-buy {
	font-size:(105.6/10)*1rem;
	width:(106.9/105.6)*1em;
}
.icon-zenit-filter-ready {
	font-size:(41.4/10)*1rem;
	width:(41.3/41.4)*1em;
}
