.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-bus {
	font-size:(372.466/10)*1rem;
	width:(372.466/372.466)*1em;
}
.icon-cofe {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-shop {
	font-size:(128/10)*1rem;
	width:(128/128)*1em;
}
